---
permalink: /posts-feed.json
eleventyExcludeFromCollections: true
---
{
  "posts": [
  {%- for post in collections.posts | reverse -%}
    {%- if loop.index0 < 20 -%}
    {
      "title": {{ post.data.title | dump }},
      "url": {{ post.url | dump }},
      "date": {{ post.date | date('MMM d, yyyy') | dump }},
      "image": {{ (post.data.image or '') | dump }},
      "excerpt": {{ (post.data.excerpt or post.templateContent | striptags | truncate(140)) | dump }}
    }{{ "," if not loop.last and loop.index0 < 19 }}
    {%- endif -%}
  {%- endfor -%}
  ]
}
